// scss-docs-start theme-color-variables
$primary: #1a73e8;
$secondary: #70C92F;
$success: #04A6F4;
// $dark: #162440;


$variable-prefix: bs-; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix: $variable-prefix;

// Spacers
$spacer: 1rem;
$custom-spacers: (
    10: $spacer * 0.625,
    20: $spacer * 1.25,
    30: $spacer * 1.875,
    40: $spacer * 2.5,
    60: $spacer * 3.75,
    100: $spacer * 6.25,
    200: $spacer * 12.5,
);

$spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
);
$spacers: map-merge($spacers , $custom-spacers );

// Typography

$small-font-size: .875rem;

$font-family-sans-serif: 'Heebo', sans-serif;
$heading-font-family: 'Heebo', sans-serif;
$headings-font-family: var(--#{$prefix}heading-font-family);



// Navbar
$navbar-padding-y: 0;
$navbar-light-color: #272742;
$navbar-light-active-color: $primary;
$navbar-nav-link-padding-x: 1rem;

// Body
$body-color: #272742;

// Links

// Navs
$nav-link-color: $body-color;

// Buttons
$btn-border-radius: 8px;
$btn-focus-box-shadow: none;
$btn-font-weight: 500;
$btn-font-family: $heading-font-family;
$btn-line-height: 1;
$btn-padding-y: 14px;
$btn-padding-x: 15px;


$btn-padding-y-sm: 7.75px;
$btn-padding-x-sm: 15px;
$btn-font-size-sm: 15px;
$btn-border-radius-sm: 8px;


// Import Bootstrap 5
@import "../node_modules/bootstrap/scss/bootstrap.scss";