@use 'custom' as *;

/*-- root variables --*/
:root {
    --#{$prefix}heading-font-family: #{$heading-font-family};
    --#{$prefix}font-family-sans-serif: #{$font-family-sans-serif};
    --#{$prefix}small: #{$small-font-size};
    --#{$prefix}body-color: #{$body-color};
    --#{$prefix}background-color: #481FA0;
    --#{$prefix}section-bg: #F8F9FA;
}

.heading-font {
    font-family: var(--#{$prefix}heading-font-family);
}

.body-font {
    font-family: var(--#{$prefix}font-family-sans-serif);
}

.fw-medium {
    font-weight: 500;
}

.bg-section {
    background-color: var(--#{$prefix}section-bg);
}

.btn-gray-400 {
    background-color: #c6d3e6 !important;
    color: #fff !important;
    border-color: transparent !important;
}

.opacity-1 {
    opacity: 1 !important;
}


// font-family: 'Heebo', sans-serif;