@use '../custom' as *;
@use '../global' as *;

.process-photo-1 {
    margin-top: 4rem;
    width: 150%;
}

.process-photo-2 {
    width: 150%;
}

.process-photo-3 {
    margin-top: 6rem;
    width: 150%;
}

.btn-rounded-circle {
    font-size: 1.0625rem;
    padding: 0.509rem 1rem;
}

.me-n7 {
    margin-right: -1.5rem !important;
}